<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gTalkRobotController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GTalk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gTalkRobotController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <gTalkRobotController.Properties.Settings>
            <setting name="failedToSendMessage" serializeAs="String">
                <value>Magabot didn't hear you... 
It isn't connected yet.</value>
            </setting>
            <setting name="welcomeMessage" serializeAs="String">
                <value>Hello!  
Please wait until we give you the control of the robot.</value>
            </setting>
            <setting name="waitMessage" serializeAs="String">
                <value>You're not controlling Magabot yet. 
Wait for you turn...</value>
            </setting>
            <setting name="controllerMessage" serializeAs="String">
                <value>Hurray!!! 
Magabot is now under your command. 
Remember: 
- '1' to Assisted Navigation    
  - 'w' to go forward 
  - 's' to go backward
  - 'a' to go left
  - 'd' to go right
  - 'p' to stop
- '2' to Obstacle Avoidance</value>
            </setting>
            <setting name="bumperMessage" serializeAs="String">
                <value>Please don't hurt me!!
 - I've bumped against something.</value>
            </setting>
            <setting name="holeMessage" serializeAs="String">
                <value>Please don't hurt me!!
 - I've just detected a hole in the ground.</value>
            </setting>
        </gTalkRobotController.Properties.Settings>
        <GTalk.Properties.Settings>
            <setting name="failedToSendMessage" serializeAs="String">
                <value>Magabot didn't hear you... 
It isn't connected yet.</value>
            </setting>
            <setting name="welcomeMessage" serializeAs="String">
                <value>Hello!  
Please wait until we give you the control of the robot.</value>
            </setting>
            <setting name="waitMessage" serializeAs="String">
                <value>You're not controlling Magabot yet. 
Wait for you turn...</value>
            </setting>
            <setting name="controllerMessage" serializeAs="String">
                <value>Hurray!!! 
Magabot is now under your command. 
Remember: 
- '1' to Assisted Navigation    
  - 'w' to go forward 
  - 's' to go backward
  - 'a' to go left
  - 'd' to go right
  - 'p' to stop
- '2' to Obstacle Avoidance
- '3' to Line Following</value>
            </setting>
            <setting name="bumperMessage" serializeAs="String">
                <value>Please don't hurt me!!
 - I've bumped against something.</value>
            </setting>
            <setting name="holeMessage" serializeAs="String">
                <value>Please don't hurt me!!
 - I've just detected a hole in the ground.</value>
            </setting>
        </GTalk.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <gTalkRobotController.Properties.Settings>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </gTalkRobotController.Properties.Settings>
    </userSettings>
</configuration>